#asean-map-img {
    border-radius: 10px;
    border: 2px solid #000; /* Adds a black border */
}

.skill-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.skill-label {
    flex: 1;
    margin-right: 10px;
    text-align: right;
}
.skill-bar-container {
    flex: 7;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
}
.skill-bar {
    height: 30px;
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
    line-height: 30px;
    color: white;
    background-color: #5E6C5B;
}