.event-details {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.event-general {
    border-radius: 0.5rem;
    background-color: antiquewhite;
    width: 50rem;
    margin-bottom: 3rem;
}

.event-information {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.event-information button {
    width: 4rem;
}

.event-about {
    border-radius: 0.5rem;
    width: 50rem;
    height: 40rem;
    background-color: antiquewhite;
    margin-bottom: 3rem;
    padding: 1.25rem;
}

.event-specifications {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.event-information textarea,
.event-information input{
    width: 10rem;
    height: 1.875rem;
    margin: 1.5px;
    border-radius: 4px;
}


.event-about textarea {
    width: 100%;
    height: 50%;
}



/*.organiser details {}*/
.organiser-general {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 50rem;
    height: 10rem;
    background-color: antiquewhite;
    padding: 1.25rem;
}

.organiser-information {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

textarea {
    overflow: hidden;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


