body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
}

.sidebar h2, .sidebar h3 {
    margin-top: 0;
}

.sidebar form {
    display: flex;
    flex-direction: column;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group h3 {
    margin-bottom: 10px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
}

.sidebar button {
    padding: 10px;
    background-color: #9b59b6;
    color: white;
    border: none;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #8e44ad;
}

.content {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.events, .other-events {
    margin-bottom: 20px;
}

.events .event, .other-events .event, #event-list .event {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.events .event:hover, .other-events .event:hover, #event-list .event:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.event-info {
    text-align: center;
    margin-bottom: 10px;
}

.event-info h2 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.event-info h3 {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

.event-info p {
    margin: 5px 0;
    color: #555;
}

.event-info button.interested {
    padding: 5px 10px;
    background-color: #f39c12;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.event-info button.interested:hover {
    background-color: #e67e22;
}

.event-image img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 3px;
    background-color: #9b59b6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #8e44ad;
}